custom.el
*.elc
*~
.cache/
.lsp-session-v1
elpa/
eshell/history
transient/history.el
Config.el
projectile-bookmarks.eld
tutorial/*.tut
url/
/tramp
/authinfo.gpg
/emojis/
/mastodon.plstore
/.org-id-locations
/bookmarks
/org-roam.db
eshell/history
eshell/lastdir
/session.*
